/TitulaTECREST/nbproject/private/
/TitulaTECREST/build/
/TitulaTECREST/dist/
/PruebasJson/nbproject/private/
/PruebasJson/build/
/WSCorreo/nbproject/private/
/WSCorreo/build/
/WSCorreo/dist/
/WSSIE/nbproject/private/
/WSSIE/build/
/ClienteWSSIE/nbproject/private/
/ClienteWSSIE/build/
/WSSIE/dist/